.content {
	max-width: 42%;

	@include mq(medium) {
		max-width: initial;
		text-align: center;
		padding-bottom: 2rem;
	}

	&__title {
		color: var(--clr-primary-500);
		font-size: 2.5rem;
		margin-bottom: 0.4em;
	}

	&__paragraph {
		color: var(--clr-neutral-400);
		font-size: 1.25rem;
	}
}
